body {
    margin: 32px auto;
    max-width: 90%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #5c068c;
}


li {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #363636;
}


.card {
    vertical-align: top;
    display: block;
    margin: 24px auto;
}

.card_image-container {
    width: 20%;
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
}

.card_image-file {
    width: 100%;
    max-width: 100%;
}

.card_details {
    display: inline-block;
    width: 80%;
}


@media (max-width: 480px) {
    h1 {
        font-size: 16px;
    }


    li {
        font-size: 12px;
    }

    .card:last-child {
        display: none;
    }

    .card_image-container {
        margin: auto;
        width: 100%;
        display: block;
    }

    .card_details {
        width: 100%;
        display: block;

    }

    .card_details>ul {
        padding-left: 1em;
    }
}