/* 12-mar-2018 16:20*/
*,:after,:before {
    box-sizing: border-box
}

div#Content {
    padding: 100px 0 50px
}


.home.landing-home .icon:after,.home.landing-home .ptw-menu .ap_booker_tab:after,.home.landing-home div#agencyBar .agencyOption .caret:after,.ptw-menu .home.landing-home .ap_booker_tab:after,div#agencyBar .agencyOption .home.landing-home .caret:after {
    display: none
}


#btnName,#innerSel #continueBtn,#ptw-offers .ptw-offer-item>a .ptw-submit-btn,.botAzu,.botAzu.mSprite,.botAzu.mSprite:visited,.botAzu:visited,.btn-primary,.btn-primary:visited,.btn-success,.btn-success:visited,.btn.btn-primary,.btnOfferts a,.bttn-blue,.bttn-blue:visited,.bttn-green,.bttn-green:visited,.greenButton,a.ap_circuitGo.btn,a.botAzu,a.btn-success,a.greenButton,div#ptw-container .ptw-submit-btn,div#ptw-container .ptw-submit-btn,input#resSta,input.but,input.greenButton {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    line-height: 12px;
    font-size: 16px;
    padding: 11px;
    border-radius: 4px
}

#btnName:hover,#innerSel #continueBtn:hover,#ptw-offers .ptw-offer-item>a .ptw-submit-btn:hover,#ptw-offers .ptw-offer-item>a .ptw-submit-btn:hover,.botAzu.mSprite:hover,.botAzu.mSprite:visited:hover,.botAzu:hover,.botAzu:visited:hover,.btn-primary:hover,.btn-primary:visited:hover,.btn-success:hover,.btn-success:visited:hover,.btn.btn-primary :hover,.btnOfferts a:hover,.btnOfferts a:hover,.bttn-blue:hover,.bttn-blue:visited:hover,.bttn-green:hover,.bttn-green:visited:hover,.greenButton:hover,a.ap_circuitGo.btn:hover,a.botAzu:hover,a.btn-success:hover,a.greenButton:hover,div#ptw-container .ptw-submit-btn:hover,div#ptw-container .ptw-submit-btn:hover,input#resSta:hover,input.but:hover,input.greenButton:hover {
    background: #196d21
}


*,:after,:before {
    box-sizing: border-box
}

.icon:after,.ptw-menu .ap_booker_tab:after,div#agencyBar .agencyOption .caret:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain
}

body {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

div#container2 {
    width: 100%;
    margin: 0
}

div#splashContent {
    margin-top: 0
}

div#Content {
    margin: 0 auto;
    float: none;
    clear: both
}

.footerBox,.header-container,.mainContent {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1200px;
    margin: 0 auto
}

.footerBox:after,.header-container:after,.mainContent:after {
    content: "";
    display: table;
    clear: both
}

.heroDescription,.heroTitle {
    text-align: center;
    float: left;
    width: 100%
}

.contentBox:after {
    content: "";
    display: table;
    clear: both
}

.promoBox {
    padding: 5px
}

.destinationBox {
    padding: 5px;
    margin-top: 20px
}




body {
    font-family: Open Sans, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px
}

.container:after {
    content: "";
    display: table;
    clear: both
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1200px;
    margin: 0 auto
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.content {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    width: 50%;
    margin-left: 25%;
    left: 16.66667%;
    right: 8.33333%
}


/* Header */


.home.landing-home .header-menu {
    display: none
}

#header {
    height: 80px;
    position: fixed;
    background: rgba(246, 250, 253, 0.9);
    width: 100%;
    z-index: 4;
    box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.4)
}

.header-container {
    width: 100%;
    max-width: 100%
}

#header h1 {
    margin: 0
}

#header .header-logo a img {
    height: 113px;
    margin-top: -14px;
    margin-left: 50px
}

.header-logo {
    padding: 0
}

#header .hdlinksContainer {
    margin-top: 0;
    text-align: right;
    padding: 0
}

#header .hdlinksContainer ul {
    display: inline-block;
    margin: 0px;
    padding: 10px 0
}

#header .hdlinksContainer ul li {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0 19px;
    margin: 0;
    position: relative
}

#header .hdlinksContainer ul>li a:hover {
    color: #39ae60
}

#header .hdlinksContainer ul>li.active:after,#header .hdlinksContainer ul>li:hover:after {
    opacity: 1;
    bottom: -20px
}

#header .hdlinksContainer>div>ul>li:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #39ae60;
    bottom: -50px;
    left: 50%;
    margin-left: 0;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s
}

#header .hdlinksContainer ul>li.header-home:after {
    width: 16px;
    left: 19px;
    height: 9px;
    bottom: -30px;
    opacity: 0
}

#header .hdlinksContainer ul>li.header-home.active:after,#header .hdlinksContainer ul>li.header-home:hover:after {
    opacity: 1;
    bottom: -20px
}

#header .hdlinksContainer ul li a:hover {
    text-decoration: none
}

#header .hdlinksContainer ul li.header-linkPhone {
    font-weight: 700;
    color: rgba(54, 54, 54, 0.85)
}

#header .hdlinksContainer li a {
    color: rgba(54, 54, 54, 0.85)
}

#header .hdlinksContainer ul.header-links {
    border-right: 1px solid rgba(170, 170, 170, 0.4)
}

#header .hdlinksContainer ul.header-linksLang {
    padding: 18px 30px 18px 24px
}

#header .hdlinksContainer ul.header-linksLang ul {
    display: block;
    position: absolute;
    max-height: 0px;
    right: 0;
    top: 70px;
    background: white;
    overflow: hidden;
    padding: 0px;
    transition: all .5s ease-in-out;
    text-align: left
}

#header .hdlinksContainer ul.header-linksLang:hover ul,#header .hdlinksContainer ul.header-linksLang input:checked+label+ul {
    max-height: 200px;
    padding: 0px 0 12px
}

#header .hdlinksContainer ul.header-linksLang input {
    display: none
}

#header .hdlinksContainer ul.header-linksLang ul li {
    display: block;
    margin: 0px;
    padding: 0px 30px 0px
}

#header .hdlinksContainer ul.header-linksLang ul li.active,#header .hdlinksContainer ul.header-linksLang ul li:focus,#header .hdlinksContainer ul.header-linksLang ul li:hover {
    background: #f2f2f2
}

#header .hdlinksContainer ul.header-linksLang ul li:first-child {
    padding-top: 10px;
    box-shadow: inset 0 7px 10px -5px rgba(0, 0, 0, 0.4)
}

#header .hdlinksContainer ul.header-linksLang ul li a {
    padding: 13px 0 11px;
    display: block;
    border-top: 1px solid rgba(170, 170, 170, 0.4);
    text-transform: none;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .2px;
    position: relative;
    transition: all .2s
}

#header .hdlinksContainer ul.header-linksLang ul li.active a,#header .hdlinksContainer ul.header-linksLang ul li:focus a,#header .hdlinksContainer ul.header-linksLang ul li:hover a {
    font-weight: 700;
    color: #39ae60
}

#header .hdlinksContainer ul.header-linksLang ul li a:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    background: 0;
    border-style: solid;
    border-width: 3px 0 3px 4px;
    border-color: transparent transparent transparent #39ae60;
    top: 19px;
    left: -25px;
    transition: all .2s
}

#header .hdlinksContainer ul.header-linksLang ul li.active a:before,#header .hdlinksContainer ul.header-linksLang ul li:focus a:before,#header .hdlinksContainer ul.header-linksLang ul li:hover a:before {
    left: -12px;
    opacity: 1
}

#header .hdlinksContainer ul.header-linksLang label {
    position: relative
}

#header .hdlinksContainer ul.header-linksLang label:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: #b0b0b0 transparent transparent transparent;
    top: 35%;
    margin-top: -1px;
    right: -15px;
    -webkit-transition: all .2s;
    transition: all .2s
}

#header .hdlinksContainer ul.header-linksLang:hover label:before,#header .hdlinksContainer ul.header-linksLang input:hover+label:before,#header .hdlinksContainer ul.header-linksLang label:hover:before {
    opacity: 0
}

#header .hdlinksContainer ul.header-linksLang label:after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 12px;
    background-color: #39ae60;
    bottom: -50px;
    left: 0;
    margin-left: 0;
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

#header .hdlinksContainer ul.header-linksLang:hover label:after,#header .hdlinksContainer ul.header-linksLang input:hover+label:after,#header .hdlinksContainer ul.header-linksLang label:hover:after {
    opacity: 1;
    bottom: -20px
}

#header .hdlinksContainer ul.header-linksLang ul li:first-child a {
    border-top: none
}

#header .hdlinksContainer ul.header-linksLang span.linksLangFlag {
    width: 18px;
    height: 13px;
    background-size: cover;
    background-position: center center;
    display: inline-block
}

#header .hdlinksContainer ul.header-linksLang span.linksLangFlag.MX {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NTAgNTAwIj4NCjxwYXRoIGZpbGw9IiNjNjBiMWUiIGQ9Im0wLDBoNzUwdjUwMGgtNzUweiIvPg0KPHBhdGggZmlsbD0iI2ZmYzQwMCIgZD0ibTAsMTI1aDc1MHYyNTBoLTc1MHoiLz4NCjwvc3ZnPg0K")
}

#header .hdlinksContainer ul.header-linksLang span.linksLangFlag.US {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K")
}

#header .hdlinksContainer ul.header-linksLang span.linksLangFlag.CO {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NTAgNTAwIj4NCjxwYXRoIGZpbGw9IiNjNjBiMWUiIGQ9Im0wLDBoNzUwdjUwMGgtNzUweiIvPg0KPHBhdGggZmlsbD0iI2ZmYzQwMCIgZD0ibTAsMTI1aDc1MHYyNTBoLTc1MHoiLz4NCjwvc3ZnPg0K")
}

#header .hdlinksContainer ul.header-linksLang ul span.linksLangFlag {
    float: right;
    margin: 1px 0px 2px 24px
}

#header {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px
}

#header:after {
    content: "";
    display: table;
    clear: both
}

#header .header-sitename {
    display: none
}

#header .header-logo a {
    display: block;
    text-align: center
}

#header .header-logo a img {
    max-width: 100%
}

#header .hdlinksContainer ul {
    margin: 10px 0;
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 12px
}

#header .hdlinksContainer li {
    display: inline-block;
    margin: 0px 7px
}

#header .header-menu ul {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1200px;
    margin: 0 auto
}

#header .header-menu ul:after {
    content: "";
    display: table;
    clear: both
}

.header-menu {
    background: #39ae60
}

.header-menu ul {
    padding: 0;
    list-style: none;
    text-align: center
}

.header-menu li {
    display: inline-block
}

.header-menu li a {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white
}

.header-menu li a:hover {
    background: #D6ECFF;
    color: rgba(54, 54, 54, 0.85);
    text-decoration: none
}

.header-menu li.current a {
    background: #D6ECFF;
    color: rgba(54, 54, 54, 0.85);
    text-decoration: none
}

.header-menu .icon:after,.header-menu .ptw-menu .ap_booker_tab:after,.header-menu div#agencyBar .agencyOption .caret:after,.ptw-menu .header-menu .ap_booker_tab:after,div#agencyBar .agencyOption .header-menu .caret:after {
    width: 20px;
    height: 20px;
    vertical-align: bottom
}


@media (min-width: 768px) {
    .header-logo {
        float:left;
        width: 25%;
        padding-left: 20px
    }

    .hdlinksContainer {
        float: left;
        width: 75%;
        padding-right: 20px;
        margin-top: 20px
    }

    #header .header-logo a {
        text-align: left
    }

    #header .hdlinksContainer ul {
        text-align: right
    }

    div.controls-prev {
        z-index: 1
    }

    .bookerBox {
        position: relative
    }

    .bookerContainer {
        position: absolute;
        top: 0;
        z-index: 1
    }

    div.pt-customJqueryUi .ui-widget-content {
        z-index: 3
    }

    .home div#ptw-container {
        width: 48%;
        margin-left: 1%;
        max-width: 500px;
        margin-top: 10px
    }

    div.slider-inner ul li .titleSlide {
        width: 40%;
        left: 50%
    }
}

@media (min-width: 1100px) {
    .header-menu ul {
        text-align:left
    }

    .promoBox {
        float: left;
        width: 33.33333%
    }

    #promoTres {
        margin-left: 0%
    }
}


@media (max-width: 1100px) {
    #header .hdlinksContainer li a {
        line-height:52px
    }

    #header .hdlinksContainer ul.header-linksLang,#header .hdlinksContainer ul li {
        display: block;
        width: 80%;
        border-bottom: 1px solid rgba(170, 170, 170, 0.6);
        margin: auto;
        padding: 0;
        text-align: center
    }

    #header .hdlinksContainer ul.header-links {
        width: 100%;
        text-align: center
    }

    #header .hdlinksContainer>div>ul>li:after {
        display: none
    }

    #header .hdlinksContainer ul.header-linksLang label {
        display: none
    }

    #header .header-links .header-linkLabel {
        display:none
    }

    body #header .hdlinksContainer ul.header-linksLang ul li,body #header .hdlinksContainer ul.header-linksLang ul li:first-child {
        display: inline-block;
        position: relative;
        width: fit-content;
        padding: 0;
        box-shadow: none;
        border: none
    }

    #header .hdlinksContainer ul.header-linksLang ul {
        position: relative;
        top: 0;
        max-height: fit-content;
        background: transparent;
        text-align: center
    }

    #header .hdlinksContainer ul.header-linksLang ul span.linksLangFlag {
        background-color: #f2f2f2;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 60%;
        border-radius: 50%;
        margin: 0;
        position: absolute;
        top: 15px;
        left: 28px
    }

    #header .hdlinksContainer ul.header-linksLang ul li a {
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        padding: 35px 20px 10px
    }

    #header .hdlinksContainer ul.header-linksLang ul li a:before {
        display: none
    }

    #header .hdlinksContainer ul.header-linksLang ul li.active,#header .hdlinksContainer ul.header-linksLang ul li:focus,#header .hdlinksContainer ul.header-linksLang ul li:hover {
        background: transparent
    }
}

@media (max-width: 768px) {
    .header-logo {
        float:left;
        width: 45%;
        padding-left: 0
    }

    .hdlinksContainer {
        float: left;
        width: 55%;
        padding-right: 20px;
        margin-top: 20px
    }

    #header .header-logo a {
        text-align: left
    }

    #header .hdlinksContainer ul {
        text-align: right
    }

    #header .header-logo a img {
        margin-left: 10px
    }

    input#menuMob+label {
        right: 25px;
        padding: 23px 40px 23px 0
    }

    .header-links .header-linkLabel {
        display:none
    }
}

@media (max-width: 543px) {
    .header-menu {
        display:none
    }
}


@media (max-width: 1388px) {
    #header {
        height:70px
    }

    #header .header-logo a img {
        width: 170px;
        height: 95px;
        margin-left: 40px
    }

    #header .hdlinksContainer ul {
        padding: 0px
    }

    #header .hdlinksContainer ul.header-linksLang {
        padding: 29px 30px 24px 25px
    }

    #header .hdlinksContainer ul li {
        font-size: 17px
    }

    #header .hdlinksContainer li a span.icons-home {
        font-size: 16px
    }

    #header .hdlinksContainer ul>li.header-home.active:after,#header .hdlinksContainer ul>li.header-home:hover:after {
        width: 12px;
        height: 8px;
        margin-left: -6px;
        left: 50%;
        bottom: -16px
    }

    #header .hdlinksContainer ul.header-linksLang ul {
        top: 70px
    }
}

input#menuMob {
    display: none
}

@media (min-width: 1279px) {
    input#menuMob+label {
        display:none
    }
}

@media (max-width: 1280px) {
    span.icons-menu {
        width:40px;
        height: 40px;
        background-color: #39ae60;
        text-align: center;
        border-radius: 50%;
        top: 50%;
        transform: translatey(-50%);
        position: absolute;
        margin-left: 15px
    }

    span.icons-menu:before {
        content: "\e605";
        width: 18px;
        height: 18px;
        background-size: cover;
        background-position: center center;
        display: block;
        font-size: 18px;
        color: #fff;
        padding: 11px
    }

    input#menuMob+label {
        display: inline-block;
        position: relative;
        right: 55px;
        padding: 23px 40px
    }

    #header .hdlinksContainer input#menuMob+label+div {
        display: block;
        position: absolute;
        max-height: 0px;
        right: 0;
        top: 70px;
        background: rgba(246, 250, 253, 0.9);
        padding: 0px;
        transition: all .5s ease-in-out;
        text-align: left;
        overflow: hidden;
        width: 100%;
        text-align: right;
        box-shadow: inset 0 7px 10px -5px rgba(0, 0, 0, 0.4)
    }

    #header .hdlinksContainer input#menuMob+label:hover+div,
    #header .hdlinksContainer input#menuMob+label+div:hover,
    #header .hdlinksContainer input#menuMob:checked+label+div {
        max-height: 2000px;
        overflow: visible
    }

    input#menuMob+label span:first-child {
        font-size: 18px;
        color: rgba(95, 95, 95, 0.85);
        font-family: Open Sans, sans-serif;
        font-weight: 200;
        display: inline-block
    }
}

/* Shared */

.mainContent {
    max-width: 100%;
    overflow: hidden
}

#btnName:hover,#ptw-offers .ptw-offer-item>a .active.ptw-submit-btn,#ptw-offers .ptw-offer-item>a .ptw-submit-btn:active,#ptw-offers .ptw-offer-item>a .ptw-submit-btn:focus,#ptw-offers .ptw-offer-item>a .ptw-submit-btn:hover,.botAzu.active,.botAzu.disabled,.botAzu.mSprite:active,.botAzu.mSprite:focus,.botAzu.mSprite:hover,.botAzu:active,.botAzu:focus,.botAzu:hover,.btn-primary.active,.btn-primary.disabled,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.btn-primary[disabled],.btn-success:hover,.btn.btn-primary:hover,.btnOfferts a.active,.btnOfferts a:active,.btnOfferts a:focus,.btnOfferts a:hover,.bttn-blue:focus,.bttn-blue:hover,.bttn-green:hover,a.ap_circuitGo.btn:hover,a.botAzu:hover,a.btn-success:hover,a.bttn-blue:visited,a.greenButton:hover,div#ptw-container .active.ptw-submit-btn,div#ptw-container .ptw-submit-btn:active,div#ptw-container .ptw-submit-btn:focus,div#ptw-container .ptw-submit-btn:hover,input.but:hover,input.greenButton:hover {
    background: #196d21
}

.bookerBox {
    z-index: 2;
    overflow: hidden;
    margin-top: 70px 
}

/*.bookerBox:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: -1
}*/

.contentBox {
    position: relative;
    padding-bottom: 30px
}

.contentBox>div:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 12%;
    width: 76%;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: -1
}

.contentBox h2.heroTitle {
    font-family: Oswald, sans-serif;
    width: max-content;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin: 40px 0;
    float: none
}

.contentBox h2.heroTitle span {
    font-weight: 100;
    color: #39ae60;
    display: block;
    font-size: 18px
}

.contentBox>div.home-hotelinfo {
    max-width: 1080px;
    margin: auto;
    padding: 80px 0;
    background: #ffffff;
    position: relative
}

.contentBox div.home-hotelinfo div {
    width: 65%;
    display: inline-block;
    vertical-align: middle
}

.contentBox div.home-hotelinfo div.home-hotelpic {
    width: 34%;
    display: inline-block
}

.contentBox .heroDescription {
    text-align: justify;
    float: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #444;
    line-height: 1.8;
    padding: 15px 0 60px;
    margin-top: 10px
}

.home-hotelpic img {
    border-radius: 100%;
    float: right;
    width: 330px
}

.home-hotels {
    max-width: 1080px;
    margin: 30px auto 0;
    padding: 60px 0;
    background: #fff;
    position: relative
}

.home-hotels .hotel .home-hotelpic img {
    border-radius: 0;
    width: 100%
}

.home-hotels .hotel .home-hotelpic {
    width: 100%
}

.home-hotels .hotel:nth-child(2) {
    padding: 0px 0px 0 0px
}

.home-hotels .hotel {
    text-align: center;
    padding: 0px 10px 0 10px;
    vertical-align: top;
    width: 33.33%;
    display: inline-block;
    position: relative
}

.home-hotels .hotel:nth-child(2) .home-hotelpic {
    padding: 0 10px
}

.home-hotels .hotel h1 {
    font-family: Oswald, sans-serif;
    display: inherit;
    font-weight: 300;
    max-width: 80%;
    line-height: 30px;
    color: #444;
    text-transform: uppercase;
    font-size: 25px
}

.home-hotels .hotel h4 {
    color: #39ae60;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    margin: 0
}

.home-hotels .hotel p {
    font-size: 13px;
    font-weight: 200
}

.home-hotels .hotel span.icons-plus {
    background: #39ae60;
    width: 32px;
    height: 32px;
    line-height: 24px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 100%;
    font-size: 22px;
    position: relative;
    color: #fff
}

.home-hotels .hotel  input + label {
    padding-bottom: 20px;
    display: inline-block;
}

input#displayMenuAspira,input#displayMenuNina,input#displayMenuTukan {
    display: none
}

.home-hotels .hotel .show-more div {
    display: block;
    background: white;
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 40px;
    box-shadow: 0px 0px 20px 3px #c1c1c1;
    padding: 20px;
    border-radius: 4px;
    transition: all .2s ease;
    opacity: 0
}

.home-hotels .hotel .show-more input:checked+label+div,.home-hotels .hotel:hover .show-more div {
    opacity: 1
}

.home-hotels .hotel .show-more div:after {
    content: "";
    display: block;
    width: 4%;
    height: 20px;
    background: red;
    position: absolute;
    left: 46%;
    width: 0;
    height: 0;
    bottom: -6px;
    border-style: solid;
    border-width: 6px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    background: transparent;
    -webkit-transition: all .2s;
    transition: all .2s
}

.home-hotels .hotel .show-more div ul {
    list-style: none;
    padding: 0px 20px 10px;
    margin: 20px 0;
    clear: both;
    text-align: left
}

.home-hotels .hotel .show-more div h3 {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: #444
}

.home-hotels .hotel .botAzu {
    display: block;
    width: max-content;
    margin: auto
}

a.botAzu {
    background: #39ae60;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #39ae60;
    text-shadow: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 1px 2px rgba(0, 0, 0, 0);
    transition: all ease 0.3s
}

.home-hotels .hotel .show-more div ul li {
    padding: 0px 0 0 25px;
    margin: 10px 0px 0px;
    background-repeat: no-repeat;
    line-height: 100%;
    font-size: 14px;
    font-weight: 100;
    color: #444
}

li.wifi {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2339AE60;%7d %3c/style%3e%3cg%3e%3cpath class='st0' d='M11.3,30.5c-1.3,1.3-1.3,3.4,0,4.7c1.3,1.3,3.4,1.3,4.7,0c9.4-9.4,24.8-9.4,34.3,0c1.3,1.3,3.4,1.3,4.7,0 c1.3-1.3,1.3-3.4,0-4.7C42.9,18.5,23.4,18.5,11.3,30.5z'/%3e%3cpath class='st0' d='M45.2,40.4c-6.6-6.6-17.4-6.6-24,0c-1.3,1.3-1.3,3.4,0,4.7c1.3,1.3,3.4,1.3,4.7,0c4-4,10.6-4,14.6,0 c0,0,0,0,0,0c1.3,1.3,3.4,1.3,4.7,0C46.5,43.8,46.5,41.7,45.2,40.4L45.2,40.4z'/%3e%3cpath class='st0' d='M36.5,52.3c0,1.8-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3S36.5,50.5,36.5,52.3z'/%3e%3cpath class='st0' d='M64.2,21.3c-17.1-17.1-44.9-17.1-62,0c-1.3,1.3-1.3,3.4,0,4.7c1.3,1.3,3.4,1.3,4.7,0 c14.5-14.5,38.1-14.5,52.7,0c1.3,1.3,3.4,1.3,4.7,0C65.5,24.7,65.5,22.6,64.2,21.3z'/%3e%3c/g%3e%3c/svg%3e")
}

li.cold {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2339AE60;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M57.5,40.3c-2.1-1.2-4.7-0.9-6.5,0.6l-4.5-2.6l5.9-1.6c1-0.3,1.6-1.3,1.3-2.3s-1.3-1.6-2.3-1.3L42,35.6 L40.9,35c0.3-0.9,0.5-1.9,0.5-3c0-1-0.2-2-0.5-3l1.1-0.6l9.5,2.5c1,0.3,2-0.3,2.3-1.3s-0.3-2-1.3-2.3l-5.9-1.6l4.5-2.6 c1.7,1.5,4.3,1.8,6.5,0.6c2.7-1.6,3.6-5,2.1-7.7c-1.6-2.7-5-3.6-7.7-2.1c-2.1,1.2-3.1,3.7-2.7,5.9l-4.5,2.6l1.6-5.9 c0.3-1-0.3-2-1.3-2.3c-1-0.3-2,0.3-2.3,1.3l-2.5,9.5L39,25.8c-1.3-1.5-3.1-2.6-5.1-3v-1.3l7-7c0.7-0.7,0.7-1.9,0-2.7 c-0.7-0.7-1.9-0.7-2.7,0l-4.3,4.3v-5.2c2.2-0.8,3.8-2.9,3.8-5.3C37.6,2.6,35.1,0,32,0c-3.1,0-5.6,2.6-5.6,5.8 c0,2.4,1.6,4.5,3.8,5.3v5.2l-4.3-4.3c-0.7-0.7-1.9-0.7-2.7,0s-0.7,1.9,0,2.7l7,7v1.3c-2,0.4-3.8,1.5-5.1,3l-1.1-0.6l-2.5-9.5 c-0.3-1-1.3-1.6-2.3-1.3s-1.6,1.3-1.3,2.3l1.6,5.9l-4.5-2.6c0.4-2.2-0.6-4.7-2.7-5.9c-2.7-1.6-6.1-0.6-7.7,2.1 c-1.6,2.7-0.6,6.1,2.1,7.7c2.2,1.2,4.7,0.9,6.5-0.6l4.5,2.6l-5.9,1.6c-1,0.3-1.6,1.3-1.3,2.3c0.2,0.8,1,1.4,1.8,1.4 c0.2,0,0.3,0,0.5-0.1l9.5-2.5l1.1,0.6c-0.3,0.9-0.5,1.9-0.5,3s0.2,2,0.5,3L22,35.6l-9.5-2.5c-1-0.3-2,0.3-2.3,1.3 c-0.3,1,0.3,2,1.3,2.3l5.9,1.6l-4.5,2.6c-1.7-1.5-4.3-1.8-6.5-0.6c-2.7,1.6-3.6,5-2.1,7.7c1.5,2.7,5,3.6,7.7,2.1 c2.1-1.2,3.1-3.7,2.7-5.9l4.5-2.6l-1.6,5.9c-0.3,1,0.3,2,1.3,2.3c1,0.3,2-0.3,2.3-1.3l2.5-9.5l1.1-0.6c1.3,1.5,3.1,2.6,5.1,3v1.3 l-7,7c-0.7,0.7-0.7,1.9,0,2.7c0.7,0.7,1.9,0.7,2.7,0l4.3-4.3v5.2c-2.2,0.8-3.8,2.9-3.8,5.3c0,3.1,2.5,5.8,5.6,5.8 c3.1,0,5.6-2.6,5.6-5.8c0-2.4-1.6-4.5-3.8-5.3v-5.2l4.3,4.3c0.7,0.7,1.9,0.7,2.7,0s0.7-1.9,0-2.7l-7-7v-1.3c2-0.4,3.8-1.5,5.1-3 l1.1,0.6l2.5,9.5c0.3,1,1.3,1.6,2.3,1.3c1-0.3,1.6-1.3,1.3-2.3l-1.6-5.9l4.5,2.6c-0.4,2.2,0.6,4.7,2.7,5.9 c2.7,1.6,6.1,0.6,7.7-2.1C61.2,45.2,60.2,41.8,57.5,40.3z M53.8,17.3c0.9-0.5,2-0.2,2.6,0.7c0.5,0.9,0.2,2-0.7,2.6 c-0.9,0.5-2,0.2-2.6-0.7C52.6,18.9,52.9,17.8,53.8,17.3z M10.9,19.8c-0.5,0.9-1.7,1.2-2.6,0.7c-0.9-0.5-1.2-1.7-0.7-2.6 c0.5-0.9,1.7-1.2,2.6-0.7C11.1,17.8,11.4,18.9,10.9,19.8z M10.2,46.7c-0.9,0.5-2,0.2-2.6-0.7c-0.5-0.9-0.2-2,0.7-2.6 c0.9-0.5,2-0.2,2.6,0.7C11.4,45.1,11.1,46.2,10.2,46.7z M32,3.8c1,0,1.9,0.9,1.9,2c0,1-0.8,1.9-1.9,1.9s-1.9-0.8-1.9-1.9 C30.1,4.7,31,3.8,32,3.8z M32,60.2c-1,0-1.9-0.9-1.9-2c0-1,0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9C33.9,59.3,33,60.2,32,60.2z M32,37.6 c-3.1,0-5.6-2.5-5.6-5.6s2.5-5.6,5.6-5.6s5.6,2.5,5.6,5.6S35.1,37.6,32,37.6z M56.4,46.1c-0.5,0.9-1.7,1.2-2.6,0.7 c-0.9-0.5-1.2-1.7-0.7-2.6c0.5-0.9,1.7-1.2,2.6-0.7C56.6,44,56.9,45.2,56.4,46.1z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e")
}

li.pool {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2339AE60;%7d %3c/style%3e%3cg%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M63,46.3c-0.5-0.2-1-0.6-1.4-0.9c-3.4-2.7-7.7-3.2-11.4-1.4l-8.3-8.3c3.9-0.2,7.1-3.5,7.1-7.5 c0-4.1-3.4-7.5-7.5-7.5c-4,0-7.3,3.1-7.5,7.1l-5.2-5.2l7.3-7.3c2.2-2.2,2.2-5.8,0-8c-2.2-2.2-5.8-2.2-8,0L16.8,18.6 c-2.2,2.2-2.2,5.8,0,8l6.2,6.2L12.3,43.3c-3.3-0.9-6.8-0.2-9.6,2.1c-0.5,0.4-1,0.7-1.6,1c-0.9,0.4-1.3,1.6-0.9,2.5 c0.4,0.9,1.6,1.3,2.5,0.9c0.8-0.4,1.6-0.9,2.4-1.5c2.7-2.2,6.3-2.2,9,0c4.1,3.3,9.5,3.3,13.6,0c2.7-2.2,6.2-2.2,8.9,0 c4.1,3.3,9.5,3.3,13.6,0c2.7-2.2,6.3-2.2,9,0c0.7,0.5,1.4,1,2.1,1.4c0.9,0.5,2.1,0.1,2.5-0.9C64.3,47.9,63.9,46.8,63,46.3z M41.4,24.4c2.1,0,3.7,1.7,3.7,3.7s-1.7,3.7-3.7,3.7c-2.1,0-3.7-1.7-3.7-3.7C37.6,26.1,39.3,24.4,41.4,24.4z M38.9,45.4 c-2-1.6-4.4-2.5-6.8-2.5c-2.4,0-4.8,0.8-6.8,2.5c-2.7,2.2-6.2,2.2-8.9,0c-0.2-0.1-0.3-0.3-0.5-0.4l11-11c0.7-0.7,0.7-1.9,0-2.7 l-7.5-7.5c-0.7-0.7-0.7-1.9,0-2.7L30.7,10c0.7-0.7,1.9-0.7,2.7,0c0.7,0.7,0.7,1.9,0,2.7l-8.6,8.6c-0.7,0.7-0.7,1.9,0,2.7 l22.2,22.2C44.3,47.6,41.3,47.4,38.9,45.4z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M63,53.8c-0.5-0.2-1-0.6-1.4-0.9c-4.1-3.3-9.6-3.3-13.7,0c-2.7,2.2-6.2,2.2-8.9,0c-2-1.6-4.4-2.5-6.8-2.5 c-2.4,0-4.8,0.8-6.8,2.5c-2.7,2.2-6.2,2.2-8.9,0c-4.1-3.3-9.6-3.3-13.7,0c-0.5,0.4-1,0.7-1.6,1c-0.9,0.4-1.3,1.6-0.9,2.5 c0.4,0.9,1.6,1.3,2.5,0.9c0.8-0.4,1.6-0.9,2.4-1.5c2.7-2.2,6.3-2.2,9,0c4.1,3.3,9.5,3.3,13.6,0c2.7-2.2,6.2-2.2,8.9,0 c4.1,3.3,9.5,3.3,13.6,0c2.7-2.2,6.3-2.2,9,0c0.7,0.5,1.4,1,2.1,1.4c0.9,0.5,2.1,0.1,2.5-0.9C64.3,55.4,63.9,54.3,63,53.8z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e ")
}

li.food {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2339AE60;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M20.1,23v36.7c0,1,0.3,1.8,1,2.5c0.7,0.7,1.5,1,2.4,1c0.9,0,1.8-0.4,2.4-1c0.7-0.7,1-1.5,1-2.5V23 c1-0.4,5-3.9,5-5V3.2c0-0.5-0.2-0.9-0.5-1.2c-0.4-0.3-0.8-0.5-1.2-0.5c-0.5,0-0.9,0.2-1.2,0.5c-0.4,0.4-0.5,0.8-0.5,1.2v11.5 c0,0.5-0.2,0.9-0.5,1.2c-0.4,0.4-0.8,0.5-1.2,0.5c-0.5,0-0.9-0.2-1.2-0.5c-0.3-0.3-0.5-0.8-0.5-1.2V3.2c0-0.5-0.2-0.9-0.5-1.2 c-0.3-0.3-0.8-0.5-1.2-0.5c-0.5,0-0.9,0.2-1.2,0.5c-0.4,0.4-0.5,0.8-0.5,1.2v11.5c0,0.5-0.2,0.9-0.5,1.2c-0.4,0.4-0.8,0.5-1.2,0.5 c-0.5,0-0.9-0.2-1.2-0.5c-0.4-0.3-0.5-0.8-0.5-1.2V3.2c0-0.5-0.2-0.9-0.5-1.2c-0.3-0.3-0.8-0.5-1.2-0.5c-0.5,0-0.9,0.2-1.2,0.5 c-0.3,0.4-0.5,0.8-0.5,1.2V18C14.4,19.1,19,22.6,20.1,23z'/%3e%3cpath class='st0' d='M23.6,63.3C23.6,63.3,23.6,63.3,23.6,63.3C23.6,63.3,23.5,63.3,23.6,63.3L23.6,63.3z'/%3e%3cpath class='st0' d='M46.2,64C46.2,64,46.2,64,46.2,64C46.1,64,46.1,64,46.2,64L46.2,64z'/%3e%3cpath class='st0' d='M38.6,31.8h4v28.6c0,1,0.3,1.8,1,2.5c0.7,0.7,1.5,1,2.4,1c0.9,0,1.8-0.4,2.4-1c0.7-0.7,1-1.5,1-2.5V1.8 c0-0.5-0.2-0.9-0.5-1.2C48.8,0.2,48.3,0,47.9,0h-1.3c-2.4,0-4.5,0.9-6.2,2.6c-1.7,1.7-2.6,3.8-2.6,6.2v22.1c0,0.2,0.1,0.4,0.3,0.6 C38.2,31.7,38.4,31.8,38.6,31.8z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e")
}

li.plus {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2339AE60;%7d %3c/style%3e%3cg%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M59,25.2c1.2-1.1,1.6-2.8,1.1-4.3c-0.5-1.5-1.8-2.6-3.4-2.9l-14-2c-0.3,0-0.5-0.2-0.6-0.5L35.8,2.8 c-0.7-1.5-2.2-2.4-3.8-2.4c-1.6,0-3.1,0.9-3.8,2.4L22,15.5c-0.1,0.2-0.4,0.4-0.6,0.5l-14,2c-1.6,0.2-2.9,1.3-3.4,2.9 S3.8,24.1,5,25.2l10.1,9.9c0.2,0.2,0.3,0.5,0.2,0.7L13,49.8c-0.3,1.6,0.4,3.2,1.7,4.1c1.3,1,3,1.1,4.4,0.3l12.5-6.6 c0.2-0.1,0.5-0.1,0.8,0l12.5,6.6c0.6,0.3,1.3,0.5,2,0.5c0.9,0,1.7-0.3,2.5-0.8c1.3-1,2-2.5,1.7-4.1l-2.4-13.9 c0-0.3,0-0.6,0.2-0.7L59,25.2z M45.3,36.4l2.4,13.9c0.1,0.5-0.2,0.7-0.3,0.8c-0.1,0.1-0.5,0.3-0.9,0.1L34,44.7 c-0.6-0.3-1.3-0.5-2-0.5c-0.7,0-1.3,0.2-2,0.5l-12.5,6.6c-0.4,0.2-0.8,0-0.9-0.1s-0.4-0.4-0.3-0.8l2.4-13.9 c0.2-1.4-0.2-2.8-1.2-3.7L7.3,22.8c-0.3-0.3-0.3-0.7-0.2-0.9c0-0.2,0.2-0.5,0.7-0.6l14-2c1.4-0.2,2.6-1.1,3.2-2.3l6.3-12.7 c0.2-0.4,0.6-0.5,0.8-0.5c0.2,0,0.5,0,0.8,0.5v0L39,17c0.6,1.2,1.8,2.1,3.2,2.3l14,2c0.5,0.1,0.6,0.4,0.7,0.6 c0,0.2,0.1,0.5-0.2,0.9l-10.1,9.9C45.5,33.6,45.1,35,45.3,36.4z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M51.7,2.8c-0.8-0.5-1.8-0.4-2.4,0.4l-1.8,2.5C47,6.4,47.2,7.5,47.9,8c0.3,0.2,0.6,0.3,1,0.3 c0.5,0,1-0.2,1.4-0.7l1.8-2.5C52.6,4.4,52.5,3.4,51.7,2.8z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M16.4,5.7l-1.8-2.5c-0.5-0.8-1.6-0.9-2.4-0.4c-0.8,0.5-0.9,1.6-0.4,2.4l1.8,2.5c0.3,0.5,0.8,0.7,1.4,0.7 c0.3,0,0.7-0.1,1-0.3C16.8,7.5,17,6.4,16.4,5.7z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M6.2,38.4C5.9,37.5,5,37,4.1,37.3l-2.9,0.9c-0.9,0.3-1.4,1.2-1.1,2.1c0.2,0.7,0.9,1.2,1.6,1.2 c0.2,0,0.3,0,0.5-0.1l2.9-0.9C6,40.2,6.5,39.2,6.2,38.4z'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M32,57.1c-0.9,0-1.7,0.8-1.7,1.7v3c0,0.9,0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7v-3C33.7,57.9,32.9,57.1,32,57.1z' /%3e%3c/g%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M62.8,38.2l-2.9-0.9c-0.9-0.3-1.8,0.2-2.1,1.1s0.2,1.8,1.1,2.1l2.9,0.9c0.2,0.1,0.3,0.1,0.5,0.1 c0.7,0,1.4-0.5,1.6-1.2C64.2,39.5,63.7,38.5,62.8,38.2z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e")
}




@media (max-width: 1110px) {
    .home-hotels .hotel {
        width: 39%;
        padding-bottom: 100px
    }

    .home-hotels {
        text-align: center
    }
}

@media (max-width: 1100px) {
    .contentBox div.home-hotelinfo div {
        display:block;
        width: 100%
    }

    .contentBox>div.home-hotelinfo {
        text-align: center;
        padding-top: 0
    }

    .contentBox .heroDescription,.contentBox h2.heroTitle {
        text-align: center;
        width: auto
    }

    span.show-more {
        position: relative
    }

    .home-hotels .hotel .show-more div {
        width: 250px;
        left: -100px
    }

    .home-hotels .hotel h1 {
        max-width: 280px
    }
}



/* Icons */


@font-face {
    font-family: 'icomoon';
    src: url("https://sc.cdnpt.com/tukan-hotels/fonts/icomoon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

[class*=" icons-"],[class^=icons-] {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

ul.col-4.social-media ul.social-media-icons li a:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 33px;
    color: #fff;
    font-size: 18px
}

ul.col-4.social-media ul.social-media-icons li a.fb {
    background: #88afe2
}

ul.col-4.social-media ul.social-media-icons li a.fb:after {
    content: "\e616"
}

ul.col-4.social-media ul.social-media-icons li a.fb:focus,ul.col-4.social-media ul.social-media-icons li a.fb:hover {
    background-color: #1556ab
}

ul.col-4.social-media ul.social-media-icons li a.twitter {
    background: #7fe1f9
}

ul.col-4.social-media ul.social-media-icons li a.twitter:after {
    content: "\e90a"
}

ul.col-4.social-media ul.social-media-icons li a.twitter:focus,ul.col-4.social-media ul.social-media-icons li a.twitter:hover {
    background-color: #00aced
}

ul.col-4.social-media ul.social-media-icons li a.tripadvisor {
    background: #39ae60;
    top: 3px
}

ul.col-4.social-media ul.social-media-icons li a.tripadvisor:after {
    content: "\e925";
    font-size: 26px
}

ul.col-4.social-media ul.social-media-icons li a.tripadvisor:focus,ul.col-4.social-media ul.social-media-icons li a.tripadvisor:hover {
    background-color: #278b48
}

ul.col-4.social-media ul.social-media-icons li a.instagram {
    background: #d35cb7
}

ul.col-4.social-media ul.social-media-icons li a.instagram:after {
    content: "\e928"
}

ul.col-4.social-media ul.social-media-icons li a.instagram:focus,ul.col-4.social-media ul.social-media-icons li a.instagram:hover {
    background-color: #c536a4
}

.icons-google-plus2 {
    font-size: 33px;
    opacity: .8;
    color: #dd4b39;
    top: 7px
}

ul.col-4.social-media ul.social-media-icons li a.icons-google-plus2:focus,ul.col-4.social-media ul.social-media-icons li a.icons-google-plus2:hover {
    opacity: 1;
    color: #dd4b39
}

.icons-google-plus2:before {
    content: "\e930"
}

span.icons-home:before {
    content: "\e600";
    color: #39ae60;
    font-size: 16px
}

.icons-icon_tarjetas:before {
    content: "\e903"
}

.icons-icon_taxi:before {
    content: "\e904"
}

.icons-plus:before {
    content: "\2b"
}


@media (max-width: 1110px) {
    .contentBox {
        width: 100%;
        margin: auto
    }

    .contentBox>div.home-hotelinfo {
        max-width: 90%
    }

    .contentBox div.home-hotelinfo div.home-hotelpic img {
        padding-left: 20px;
        width: -webkit-fill-available
    }

    .home-hotels .hotel {
        width: 39%;
        padding-bottom: 100px
    }

    .home-hotels {
        text-align: center
    }
}

@media (max-width: 1100px) {
    .contentBox div.home-hotelinfo div {
        display:block;
        width: 100%
    }

    .contentBox>div.home-hotelinfo {
        text-align: center;
        padding-top: 0
    }

    .contentBox .heroDescription,.contentBox h2.heroTitle {
        text-align: center;
        width: auto
    }

    span.show-more {
        position: relative
    }

    .home-hotels .hotel .show-more div {
        width: 250px;
        left: -100px;
    }

    .home-hotels .hotel h1 {
        max-width: 280px
    }
}

@media (max-width: 768px) {
    .home-hotels .hotel {
        width: 70%
    }
}






/* Footer */

#footer {
    text-align: center
}

#footer ul.ftBox-links {
    padding: 0;
    list-style: none;
    font-size: 12px
}

#footer ul.ftBox-links li {
    display: inline-block;
    padding: 0 15px
}

#footer {
    text-align: center;
    position: relative
}

.footerBox {
    max-width: 1150px;
    padding: 45px 0 18px
}

#footer ul li {
    list-style: none;
    font-size: 13px;
    line-height: 1.5
}

#footer ul.col-4 {
    width: 25%;
    float: left;
    margin: 0;
    padding: 0 25px;
    text-align: left;
    color: #7e7e7e;
    position: relative
}

#footer ul.col-4 ul {
    padding: 22px 0
}

#footer ul.col-4 h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: black;
    font-size: 13px;
    margin: 0
}

#footer ul.col-4.social-media ul.social-media-icons li a {
    display: block;
    width: 33px;
    height: 33px;
    position: relative;
    text-align: center
}

#footer ul.col-4.social-media ul.social-media-icons li {
    display: inline-block
}

#footer ul.col-4.social-media ul.social-media-icons {
    padding: 3px 0 0
}

#footer ul.col-4.address-home:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: rgba(170, 170, 170, 0.6);
    top: 42px;
    right: 0
}

.footerBox2 {
    background: #666;
    text-rendering: geometricPrecision
}

.footerBox2>ul {
    max-width: 1244px;
    margin: 0 auto;
    padding: 30px 0 50px;
    min-height: 128px
}

#footer ul.col-2 {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left
}

#footer ul.col-2 ul {
    padding: 0
}

#footer ul.col-2:last-child {
    text-align: end
}

#footer ul.col-2 li {
    font-family: Open sans, sans-serif;
    color: #fff;
    padding: 0 12px;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    letter-spacing: .2px;
    text-align: left
}

#footer ul.col-2 li strong {
    line-height: 1.4px;
    font-weight: 400;
    letter-spacing: 0px
}

#footer ul.col-2 h4 {
    color: #fff;
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.3px
}

#footer ul.col-2 li:last-child {
    width: 125px;
    padding-right: 0
}

#footer ul.col-2 li.icons-info-home span {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 100%;
    font-size: 26px;
    line-height: 180%;
    display: inline-block;
    padding: 1px 12px
}

#footer ul.col-2 li span.icons-plus {
    background: #39ae60;
    width: 32px;
    height: 32px;
    line-height: 24px;
    display: block;
    text-align: center;
    border-radius: 100%;
    font-size: 22px;
    position: relative
}

#footer ul.col-2 li.icons-info-home span:before {
    color: #333
}

#footer ul.col-2 li.icons-info-home:hover span,#footer ul.col-2 li.icons-info-home span:hover {
    background: #39ae60
}

#footer ul.col-2 li.icons-info-home:hover span:before,#footer ul.col-2 li.icons-info-home span:hover:before {
    color: #fff
}

#footer ul.col-2:first-child:hover li.icons-info-home span,#footer ul.col-2:first-child:hover li.icons-info-home span:before {
    background: #39ae60;
    color: #fff
}

#footer ul.col-2:last-child:hover li.icons-info-home span,#footer ul.col-2:last-child:hover li.icons-info-home span:before {
    background: #39ae60;
    color: #fff
}

#footer ul.col-2:first-child li span.icons-plus:after,#footer ul.col-2:last-child li span.icons-plus:after {
    content: "MÃ¡s info";
    display: inline-block;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    background: #278b48;
    height: 32px;
    line-height: 32px;
    padding: 0px 20px 0 16px;
    border-radius: 17px 0 0 15px;
    left: 0;
    width: max-content;
    opacity: 0;
    transition: all .2s ease-in-out;
    letter-spacing: -.3px
}

.us #footer ul.col-2:first-child li span.icons-plus:after,.us #footer ul.col-2:last-child li span.icons-plus:after {
    content: "More info"
}

#footer ul.col-2:first-child:hover li span.icons-plus:after,#footer ul.col-2:last-child:hover li span.icons-plus:after {
    opacity: 1
}

#footer ul.ftBox-links {
    background: #333;
    margin: 0;
    padding: 20px 0;
    text-align: left
}

#footer ul.ftBox-links ul {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0
}

#footer ul.ftBox-links li a {
    color: #fff;
    font-size: 11px;
    font-family: Open Sans, sans-serif;
    font-weight: 100;
    line-height: 11px;
    margin: 0
}

#footer ul.ftBox-links li.ftBox-hotel {
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding-left: 0;
    border-left: none
}

#footer ul.ftBox-links li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    line-height: 1
}

#footer a:hover {
    text-decoration: none
}

footer#footer #toTop:after {
    content: "\e611";
    font-family: icomoon;
    font-size: 19px;
    position: absolute;
    top: 6px;
    margin-left: -7px
}

footer#footer #toTop:hover:after,footer#footer #toTop:hover:focus {
    content: "\e60b";
    color: #39ae60;
    line-height: 100%;
    top: 25px;
    margin-left: -10px
}

footer#footer #toTop {
    top: -18px;
    background: #ffffff;
    width: 80px;
    height: 35px;
    padding: 5px;
    border-radius: 4px;
    color: #444;
    transition: all .3s ease;
    z-index: 0;
    position: absolute;
    left: 50%;
    margin-left: -40px
}

footer#footer #toTop span.subir {
    display: block;
    opacity: 0;
    width: 100%;
    color: #444;
    transition: all .3s ease;
    font-family: Oswald, sans-serif;
    color: #39ae60;
    font-weight: 500;
    letter-spacing: .5px;
    margin-left: 0px
}

footer#footer #toTop:hover span.subir {
    opacity: 1
}

footer#footer #toTop:hover {
    height: 60px;
    top: -50px
}

footer#footer:before {
    content: "";
    height: 30px;
    width: 100%;
    background: rgba(57, 174, 96, 0.2);
    position: absolute;
    top: -29px;
    z-index: 0;
    left: 0
}

@media (max-width: 1280px) {
    #footer ul.col-4 {
        width:100%;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid rgba(170, 170, 170, 0.6);
        padding: 30px 25px 30px
    }

    #footer ul.col-4.address-home {
        width: 33.33%;
        padding: 0px 25px 30px
    }

    #footer ul.col-4 ul {
        padding-bottom: 0
    }

    #footer ul.col-4:last-child {
        border-bottom: none
    }

    #footer ul.ftBox-links {
        text-align: center
    }

    #footer ul.col-2 li {
        text-align: center;
        display: block;
        padding: 5px 0;
        max-width: 50%;
        margin: auto
    }

    #footer ul.col-2 li:last-child {
        width: 100%;
        text-align: center
    }

    #footer ul.col-2 li span.icons-plus {
        margin: auto
    }

    #footer ul.col-2 li.icons-info-home {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 0
    }

    #footer ul.col-2 {
        position: relative;
        display: inline-block;
        float: none;
        width: 49%;
        vertical-align: top
    }

    #footer ul.col-2 a {
        display: block;
        padding-top: 60px
    }

    .footerBox2>ul {
        max-width: 760px
    }

    #footer ul.col-2:first-child:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.3);
        right: 0;
        top: 70px
    }

    .footerBox {
        max-width: 700px
    }

    footer#footer #toTop {
        top: -25px
    }
}

@media (max-width: 1100px) {
    .footerBox2 {
        position:absolute;
        top: 0;
        width: 100%;
        height: 254px
    }

    .footerBox {
        padding-top: 270px
    }

    footer#footer #toTop {
        top: 225px;
        z-index: 2;
    }

    footer#footer #toTop:hover {
        top: 210px
    }

    #footer ul.col-4 {
        width: 100%;
        max-width: 485px;
        margin: auto;
        text-align: center;
        float: none;
        border-bottom: 1px solid rgba(170, 170, 170, 0.6);
        padding: 30px 0
    }

    #footer ul.col-4.address-home {
        width: 100%;
        padding: 30px 25px
    }

    #footer ul.col-4.address-home:after {
        display: none
    }

    #footer ul.col-4.social-media ul.social-media-icons li {
        margin: 6px 13px
    }

    #footer ul.col-2 li.icons-info-home {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 0
    }
}


